<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Defect Checker</title>
</head>
<body>
    <div id="content p-5" class="flexbox">
        <div class="card flexbox p-3 mt-5" style="min-width: 400px; max-width: 800px; max-height: 500px;">
            <div class="card-body flexbox">
                <div class="row">
                    <div class="col p-4">
                        <div id="image-box">
                            <!-- Image added here with heatmap/boxes when uploaded using js -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="loader" style="display:none;">
                            <img src="{{ url_for('static', filename='loading.gif') }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2 id="defective-status"></h2><br /><br />
                    </div>
                    <div class="col">
                        <input type="file" accept="image/png, image/jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function (e) {
            $('input[type="file"]').change(function () {
                let file = this.files[0];
                let reader = new FileReader();
                reader.onloadend = function () {
                    $('#image-box').html('<image id="img" src="' + reader.result + '" style="max-width: 100%;"/>');
                }
                if (file) {
                    let formData = new FormData();
                    formData.append('raw_image', file);
                    reader.readAsDataURL(file);
                    $.ajax({
                        url: "/process-image",
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        beforeSend: function(){
                            $("#image-box").hide();
                            $("#loader").show();
                            $("#defective-status").html("");
                        },
                        success: function(response){
                            $("#image-box").show();
                            $("#loader").hide();
                            if (response && response.image) {
                                $("#defective-status").html("Defective");
                                let base64data = response.image;
                                $("#img").attr("src", "data:image/png;base64," + base64data);
                            } else {
                                $("#defective-status").html("Not Defective");
                            }
                        },
                        error: function(xhr, desc, err){
                            $("#loader").hide();
                            alert("Something went wrong! Please try again.");
                        }
                    });
                } else {
                    alert("Image upload failed!");
                }
            });
        });
    </script>
</body>
</html>